extends base.pug
block content
    h2 Video Watch
    h3 #{pageTitle}
    h4 #{video.title}
    h4 #{video.description}
    h4 #{video.hashtags}
    a(href=`/video/${video.id}/edit`) Edit
    a(href=`/video/${video.id}/delete`) Delete